<%# title "QENR Database" %>

<div id="search">
  <%= render "search", :locals => { :per_page => @per_page, :page => @page } %>
</div>

<div id="companies">
  <%= render "companies_table", :locals => { :companies => @companies } %>
</div>
